@use "/src/scss/helper/variables" as *;
@use "/src/scss/helper/mixin" as *;

.room-list {
  display: grid;
  gap: 40px 24px;
}

@media screen and (max-width: 549px) {
  .room-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 550px) {
  .room-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include responsiveMin("md") {
  .room-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include responsiveMin("lg") {
  .room-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include responsiveMin("xl") {
  .room-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
