@use "../helper/variables";
@use "../helper/mixin";

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

span,
p {
  color: variables.$color-text-primary;
  line-height: 18px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  text-transform: capitalize !important;
  font-size: variables.$fs-2 !important;
  line-height: 18px !important;
  color: variables.$color-text-primary !important;
}

a {
  text-decoration: none;
}

a:active {
  color: unset;
}

a:visited {
  color: unset;
}

div.inner {
  margin-top: 50px;
}
