* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

span,
p {
  font-size: $fs-2;
  color: $color-text-primary;
  line-height: 18px;
}

button {
  text-transform: capitalize !important;
  font-size: $fs-2 !important;
  line-height: 18px !important;
  color: $color-text-primary !important;
}

a {
  text-decoration: none;
}

a:active {
  color: unset;
}

a:visited {
  color: unset;
}
