@use "/src/scss/helper/variables" as *;
@use "/src/scss/helper/mixin" as *;

.main-header {
  // position: fixed;
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: 80px;
  top: 0;
  background-color: $color-white-1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  &.--profile {
    .nav-bar-brand {
      display: block !important;
    }

    .nav-bar-search,
    .language-icon,
    .bca-host {
      display: none !important;
    }
  }

  .nav-bar {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .nav-bar-brand {
      color: $header-brand-color;
      height: 100%;

      > a {
        color: $header-brand-color;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    // .nav-bar-search {
    //   height: 48px;
    //   display: flex;
    //   align-items: center;
    //   gap: 0 5px;
    //   border: 1px solid $color-gray-1;
    //   border-radius: $rd-1;
    //   box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    //   transition: all 0.2s ease-out;

    //   &:hover {
    //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    //   }

    //   > div {
    //     button {
    //       font-size: $fs-2;
    //       padding: 0 ($pd-3 + 2);
    //       text-transform: capitalize;
    //     }

    //     &:first-child {
    //       padding-left: ($pd-1 * 2);
    //     }

    //     &:nth-child(2) {
    //       border-right: 1px solid $color-gray-1;
    //       border-left: 1px solid $color-gray-1;
    //     }

    //     &:last-child {
    //       padding-right: ($pd-1 * 2);

    //       button {
    //         padding: 0;

    //         span {
    //           padding: 0 ($pd-3 + 2);
    //           color: $color-gray-2;
    //           font-weight: 400;
    //         }

    //         .search-icon {
    //           width: 32px;
    //           height: 32px;
    //           display: flex;
    //           justify-content: center;
    //           align-items: center;
    //           color: $color-white-1;
    //           background-color: $header-brand-color;
    //           border-radius: 50%;
    //         }
    //       }
    //     }
    //   }

    //   > span {
    //     width: 1px;
    //     height: 24px;
    //   }
    // }

    .nav-bar-search-sm {
      display: none;
    }

    .nav-bar-auth {
      display: flex;
      align-items: center;

      button {
        padding: $pd-2 + 2;
        border-radius: 22px;
        transition: all 0.2s;

        &:hover {
          background-color: rgb(247, 247, 247) !important;
        }
      }

      // .bca-host {
      // }

      // .language-icon {
      // }

      .nav-bar-menu {
        display: flex;
        align-items: center;

        button {
          background-color: $color-white-1 !important;
          padding: 5px 5px 5px 12px;
          border-radius: 22px;
          transition: all 0.2s ease-out;

          &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          }
        }
      }
    }
  }

  .loading-effect {
    position: absolute !important;
    width: 100%;
    bottom: -1;
    text-align: center;

    .loading-round {
      margin-top: $mg-0;
      color: #ff385c;
    }
  }
}

@include responsiveMax("sm") {
  .main-header {
    height: 70px;

    .nav-bar {
      height: 70px;
      justify-content: space-between;

      .nav-bar-search {
        display: none;
      }
      .nav-bar-search-sm {
        flex-grow: 1;
        display: block;
      }

      .nav-bar-brand {
        display: none;
      }
    }

    &.--profile {
      .nav-bar-brand {
        display: block !important;
      }
    }
  }
}

@include responsiveMin("md") {
  .main-header {
    .nav-bar {
      .nav-bar-brand {
        path:nth-child(2) {
          display: block !important;
        }
      }
    }
  }
}

@include responsiveMax("md") {
  .main-header {
    .nav-bar {
      .nav-bar-auth {
        .bca-host,
        .language-icon {
          display: none;
        }
      }
    }
  }
}
