@use "/src/scss/helper/variables";

.main-header {
  z-index: 100;
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: variables.$color-white-1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .nav-bar-brand {
      color: variables.$header-brand-color;
    }

    .nav-bar-search {
      height: 48px;
      display: flex;
      align-items: center;
      border: 1px solid variables.$color-gray-1;
      border-radius: variables.$rd-1;
      box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
      transition: all 0.2s ease-out;

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      }

      > div {
        button {
          font-size: variables.$fs-2;
          padding: 0 (variables.$pd-3 + 2);
          text-transform: capitalize;
        }

        &:first-child {
          padding-left: (variables.$pd-1 * 2);
        }

        &:nth-child(2) {
          border-right: 1px solid variables.$color-gray-1;
          border-left: 1px solid variables.$color-gray-1;
        }

        &:last-child {
          padding-right: (variables.$pd-1 * 2);

          button {
            padding: 0;

            span {
              padding: 0 (variables.$pd-3 + 2);
              color: variables.$color-gray-2;
              font-weight: 400;
            }

            .search-icon {
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: variables.$color-white-1;
              background-color: variables.$header-brand-color;
              border-radius: 50%;
            }
          }
        }
      }

      > span {
        width: 1px;
        height: 24px;
      }
    }

    .nav-bar-auth {
      display: flex;
      align-items: center;

      button {
        padding: variables.$pd-2 + 2;
        border-radius: 22px;
        transition: all 0.2s;

        &:hover {
          background-color: rgb(247, 247, 247) !important;
        }
      }

      // .bca-host {
      // }

      // .language-icon {
      // }

      .nav-bar-menu {
        display: flex;
        align-items: center;

        button {
          background-color: variables.$color-white-1 !important;
          padding: 5px 5px 5px 12px;
          border-radius: 22px;
          transition: all 0.2s ease-out;

          &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          }
        }
      }
    }
  }
}
