@use "/src/scss/helper/variables" as *;
@use "/src/scss/helper/mixin" as *;

.banner {
  height: 50vh;
  position: relative;
  background-color: $color-black;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

@include responsiveMax("md") {
  .banner {
    height: 60vh;
  }
}

@include responsiveMax("sm") {
  .banner {
    height: 40vh;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    height: 30vh;
  }
}
