// @use "/src/scss/style";
@use "/src/scss/helper/variables";

.room-card {
  .room-img {
    border-radius: variables.$rd-2;
    object-fit: fill;
    margin-bottom: variables.$mg-0;
    overflow: hidden;
  }

  .room-name {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 15px;
  }

  .room-price {
    font-size: 15px;
    font-weight: 500;
    span {
      font-weight: 600;
    }
  }
}
