@use "/src/scss/helper/variables" as *;

.room-card {
  overflow: hidden;
  position: relative;
  height: 100%;

  .room-img {
    position: relative;
    border-radius: $rd-2;
    object-fit: fill;
    margin-bottom: $mg-0;
    overflow: hidden;
    background: linear-gradient(to top, $color-gray-2 10%, $color-gray-1);
    width: 100%;
    border-color: unset;
    padding-top: 90%;
    aspect-ratio: 1/0.9;

    img {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .overlay {
      position: absolute;
      opacity: 0;
      z-index: 10;
      content: "";
      padding: $pd-3;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60%;
      height: 0;
      transition: all 0.2s ease-out;

      span {
        color: $color-white-2;
        font-size: $fs-2;
        filter: brightness(200%);
      }

      .book-button {
        margin-top: $mg-0;
        background-color: $header-brand-color;
        color: $color-white-1 !important;
        border-radius: $rd-2;
        transition: all 0.1s ease-out;

        &:hover {
          background-color: $header-brand-color !important;
          filter: grayscale(0.2);
        }
      }
    }

    img {
      height: 100%;
      min-width: 100%;
      border-radius: $rd-2;
      transition: all 0.3s ease-out;
    }

    &:hover {
      .overlay {
        opacity: 1;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 20px 20px 50px 50px rgba(0, 0, 0, 0.7);
      }

      img {
        filter: brightness(0.5);
      }
    }
  }

  .room-name {
    font-weight: 800;
    margin-bottom: 8px;
  }

  .room-price {
    font-size: 15px;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }

  .favourite {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 5%;
    right: 5%;
    overflow: visible;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      fill: $header-brand-color;
    }
  }
}
