@use "/src/scss/helper/variables" as *;

.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100vw;
  background-color: $color-white-1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: $fs-2;

  .footer-inner {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;

    .copy-right {
      p,
      span {
        font-size: $fs-3;
      }

      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-social {
      ul {
        display: flex;
        gap: 0 25px;

        li {
          cursor: pointer;
        }
      }
    }
  }

  &.--footer-detail {
    width: 100% !important;
    position: inherit;
    background-color: $color-white-2;
    height: unset;
    padding-right: unset !important;

    .footer-link {
      background-color: $color-white-2;
      padding: ($pd-6 + 8) 0;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .link-block {
        ul {
          display: flex;
          flex-direction: column;
          gap: 16px 0;
          font-weight: 500;

          a {
            line-height: $lh-1;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-inner {
      padding: $pd-5 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      height: unset;
    }
  }
}
