@use "/src/scss/helper/variables" as *;
@use "/src/scss/helper/mixin" as *;

.footer {
  // position: fixed;
  // z-index: 100;
  // bottom: 0;
  // width: 100vw;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 100;
  background-color: $color-white-1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: $fs-2;

  .footer-inner {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;

    .copy-right {
      p,
      span {
        font-size: $fs-3;
      }

      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-social {
      ul {
        display: flex;
        gap: 0 25px;

        li {
          cursor: pointer;
        }
      }
    }
  }

  &.--footer-detail {
    width: 100% !important;
    position: inherit;
    background-color: $color-white-2;
    height: unset;
    padding-right: unset !important;

    .footer-link {
      padding: ($pd-6 + 8) 0;
      background-color: $color-white-2;

      .link-block {
        padding: $pd-5 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:first-of-type {
          padding-top: 0 !important;
        }

        &:last-of-type {
          border-bottom: none !important;
          padding-bottom: 0 !important;
        }

        ul {
          display: grid;
          gap: 14px 50px;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          font-weight: 500;

          a {
            line-height: $lh-1;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-inner {
      padding: $pd-5 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      height: unset;
      overflow: hidden;
    }
  }
}

@include responsiveMax("sm") {
  .footer.--footer-detail {
    .footer-link {
      display: none !important;
    }
  }
}

@include responsiveMin("lg") {
  .footer.--footer-detail {
    .footer-link {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .link-block {
        padding-bottom: unset !important;
        border-bottom: unset !important;

        ul {
          display: flex;
          flex-direction: column;
          gap: 16px 0;
        }
      }
    }
  }
}
