@use "/src/scss/helper/variables" as *;
@use "/src/scss/helper/mixin" as *;

.detail {
  max-width: 1120px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: $pd-2;
  margin-top: $pd-2;
  color: $color-black-2;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .detail-title {
    margin-bottom: $mg-1 - 4;

    h1 {
      font-size: $fs-5;
      font-weight: 600;
      line-height: $lh-2;
      color: $color-text-primary;
      margin-bottom: $mg-0 - 2;
    }

    p,
    span {
      font-weight: 600;
      line-height: $lh-1;
    }
  }

  .detail-img {
    width: 100%;
    margin-bottom: $mg-5;
    overflow: hidden;
    position: relative;

    .img-grid {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      gap: 10px;
      height: 300px;
      max-height: 300px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);

      img {
        cursor: pointer;
        border-radius: $rd-2;
        transition: all 0.5s;

        &:hover {
          filter: brightness(0.7);
        }
      }

      img:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    .img-all {
      position: absolute;
      bottom: 10%;
      left: 1%;
      z-index: 10;
    }
  }

  .detail-info {
    display: flex;
    justify-content: space-between;

    .detail-left {
      width: 50%;
      min-width: 50%;

      .info {
        margin-bottom: $mg-2;

        ul {
          display: flex;
          gap: 0 10px;

          li {
            font-size: $fs-4;
            font-weight: 500;
            color: $color-black-2;
            display: flex;
            padding-right: 10px;
            gap: 0 5px;
            position: relative;

            &::after {
              position: absolute;
              content: "";
              right: 0;
              width: 2px;
              height: 2px;
              top: 50%;
              background-color: $color-black-2;
              border-radius: 50%;
            }

            &:last-child {
              &::after {
                visibility: hidden;
              }
            }
          }
        }
      }

      .description {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: ($pd-6 - 8) 0;

        p {
          line-height: $lh-3 - 2;
          font-weight: 400;
        }
      }

      .offers {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: ($pd-6 + 8) 0;
        padding-right: $pd-5 * 2;

        &-list {
          display: grid;
          gap: 0 16px;
          grid-template-columns: repeat(2, 1fr);

          .offer-item {
            display: flex;
            align-items: center;
            gap: 0 16px;
            margin-bottom: $mg-0 + 6;

            span.item-invalid {
              text-decoration: line-through;
            }
          }
        }
      }
    }

    .detail-right {
      position: relative;
      flex-grow: 1;
      margin-left: 8%;

      .book-ticket {
        position: sticky !important;
        position: -webkit-sticky !important;
        top: 20%;
        border: 1px solid $color-gray-1;
        padding: $pd-5;
        margin-bottom: $mg-2;
        border-radius: $rd-2 + 2;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

        .ticket-inner {
          display: flex;
          flex-direction: column;

          .price {
            display: flex;
            align-items: baseline;

            span:nth-child(1) {
              font-size: $fs-6;
              font-weight: 600;
              line-height: $lh-3;
            }

            span:nth-child(2) {
              font-weight: 400;
              margin-left: 6px;
              line-height: $lh-1 + 1;
            }
          }

          .ticket-form {
            padding-top: $pd-5;
          }
        }
      }
    }
  }

  .detail-reviews {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: ($pd-6 + 8) 0;

    .reviews-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 40px 95px;

      .review-item {
        display: flex;
        flex-direction: column;
        gap: 17px 0;

        h4.user-name {
          font-size: $fs-4;
          font-weight: 600;
          line-height: $lh-1;
        }

        span.review-date {
          color: $color-gray-2;
          font-size: $fs-2;
        }

        p.user-review {
          line-height: $lh-3 - 2;
        }
      }
    }
  }
}

.reviews-all {
  position: relative;
  height: 100%;
  // max-height: 60vh;

  .list-all {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    gap: 40px 0;
    overflow-y: scroll;
    padding: 0 $pd-4;

    .review-item {
      display: flex;
      flex-direction: column;
      gap: 17px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      h4.user-name {
        font-size: $fs-4;
        font-weight: 600;
        line-height: $lh-1;
      }

      span.review-date {
        color: $color-gray-2;
        font-size: $fs-2;
      }

      p.user-review {
        line-height: $lh-3 - 2;
      }
    }
  }
}

@include responsiveMax("sm") {
  .detail {
    .detail-img {
      .img-grid {
        height: 200px !important;

        img:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 4;
        }
      }
    }

    .detail-info {
      flex-direction: column !important;

      .detail-left {
        width: 100%;
      }

      .detail-right {
        margin: unset;
        margin-bottom: $mg-2;
      }
    }

    .reviews-list {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
}
